{% extends 'pub/base.html.twig' %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block body %}
    <h1>{{ pagetitle }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
